src/main/mule/einsteinAI.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ms-einstein-ai="http://www.mulesoft.org/schema/mule/ms-einstein-ai" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:file="http://www.mulesoft.org/schema/mule/file" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/ms-einstein-ai http://www.mulesoft.org/schema/mule/ms-einstein-ai/current/mule-ms-einstein-ai.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
	http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
  <flow name="einstein-chat-answer_prompt">
    <http:listener config-ref="Listener-config" doc:id="lawzxe" doc:name="answer prompt" path="${http.paths.einstein.chat.answerPrompt}"></http:listener>
    <ms-einstein-ai:chat-answer-prompt config-ref="EinsteinAI-config" doc:id="rqbyrn" doc:name="Chat answer prompt" modelApiName="sfdc_ai__DefaultBedrockAnthropicClaude3Haiku"></ms-einstein-ai:chat-answer-prompt>
  </flow>
  <flow name="einstein-chat-generate_from_messages">
    <http:listener config-ref="Listener-config" doc:id="mdbmbq" doc:name="generate from messages" path="${http.paths.einstein.chat.generateFromMessages}"></http:listener>
    <ee:transform doc:id="hlommx" doc:name="JSON to String">
      <ee:message>
        <ee:set-payload doc:id="qijqws" doc:name="Set payload">
          <![CDATA[%dw 2.0
output application/json
---
payload match {
    case is String -> payload
    else -> write(payload, "application/json", {indent:false})
}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <ms-einstein-ai:chat-generate-from-messages config-ref="EinsteinAI-config" doc:id="lkgmgp" doc:name="Chat generate from messages" modelApiName="sfdc_ai__DefaultBedrockAnthropicClaude3Haiku"></ms-einstein-ai:chat-generate-from-messages>
  </flow>
  <flow name="einstein-embeddings-adhoc_file_query">
    <http:listener path="${http.paths.einstein.embeddings.adhocFileQuery}" doc:name="adhoc file query" doc:id="levgqs" config-ref="Listener-config" />
    <set-variable variableName="inputPayload" value="#[payload]" doc:name="inputPayload" doc:id="rczoat" />
    <file:read path="CoralCloudResortFAQs.pdf" doc:name="CoralCloudResortFAQs.pdf" doc:id="jnbsco" config-ref="File-config" />
    <ms-einstein-ai:embedding-adhoc-file-query doc:name="Embedding adhoc file query" doc:id="azlkmv" config-ref="EinsteinAI-config" optionType="PARAGRAPH">
      <ms-einstein-ai:prompt>#[vars.inputPayload]</ms-einstein-ai:prompt>
      <ms-einstein-ai:input-stream>#[payload]</ms-einstein-ai:input-stream>        
    </ms-einstein-ai:embedding-adhoc-file-query>
  </flow>
</mule>